.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
body {
  background: url('../_imgs/layout/bg-internas.jpg') #f8eacd center top no-repeat;
}
body header {
  height: 275px;
}
body header .centro {
  width: 1000px;
  padding: 0 0;
  margin: 0 auto;
  height: 30px;
}
body header .centro .fb-like {
  margin-top: 20px;
  float: right;
}
body #conteudo {
  width: 580px;
  padding: 0 0;
  margin: 0 auto;
  min-height: 370px;
  position: relative;
  z-index: 3;
}
body #conteudo h1 {
  margin: 20px 0 0 -50px;
  text-indent: -9000px;
  height: 65px;
  width: 712px;
  background: url('../_imgs/layout/titulo-divella-viaggia.png') center top no-repeat;
}
body #conteudo nav {
  margin-top: 30px;
  display: block;
  width: 100%;
}
body #conteudo nav ul {
  font-size: 0;
  padding-left: 20px;
}
body #conteudo nav ul li {
  width: 170px;
  margin-right: 15px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body #conteudo nav ul li a {
  -webkit-box-shadow: 1px 1px 10px 0px #000000;
  box-shadow: 1px 1px 10px 0px #000000;
  background: #fff;
  text-align: center;
  display: block;
  height: 30px;
  line-height: 34px;
  color: #5e3814;
  font-family: 'Libre Baskerville', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body #conteudo nav ul li a:active,
body #conteudo nav ul li a:visited {
  color: #5e3814;
}
body #conteudo nav ul li a:hover,
body #conteudo nav ul li a.ativo {
  background: #5e3814;
  color: #fff;
}
body #conteudo .nav-link {
  -webkit-box-shadow: 1px 1px 10px 0px #000000;
  box-shadow: 1px 1px 10px 0px #000000;
  background: #fff;
  text-align: center;
  display: block;
  height: 30px;
  line-height: 30px;
  color: #5e3814;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body #conteudo .nav-link.centralizado {
  margin: 0 auto;
}
body #conteudo .nav-link.m-top {
  margin-top: 30px;
}
body #conteudo .nav-link.w133 {
  width: 133px;
}
body #conteudo .nav-link.espacado {
  margin: 0 20px;
}
body #conteudo .nav-link.w310 {
  width: 310px;
}
body #conteudo .nav-link.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body #conteudo .nav-link:active,
body #conteudo .nav-link:visited {
  color: #5e3814;
}
body #conteudo .nav-link:hover,
body #conteudo .nav-link.ativo {
  background: #5e3814;
  color: #fff;
}
body footer {
  margin-top: -370px;
  height: 430px;
  background: url('../_imgs/layout/rodape.png') center bottom no-repeat;
  position: relative;
  z-index: 1;
}
body footer .centro {
  width: 1200px;
  padding: 0 0;
  margin: 0 auto;
  position: relative;
  height: 430px;
}
body footer .centro a {
  width: 140px;
  height: 93px;
  position: absolute;
  top: 254px;
  right: 110px;
}
@media only screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: none;
  }
  body .linha {
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    width: 500px !important;
    text-indent: 0 !important;
  }
  body label {
    display: block;
    width: 100%;
    margin: 0 !important;
    padding: 0;
    text-align: left;
    text-indent: 0 !important;
  }
  body label input[type="text"],
  body label input[type="email"] {
    display: block !important;
    max-width: 400px !important;
    width: 400px !important;
    margin: 2px 0 8px 0 !important;
  }
  body label span {
    float: none;
  }
  body .label-like {
    margin: 2px 0 8px 0 !important;
  }
  body .logradouro,
  body .logradouro.aberto {
    padding: 10px !important;
    height: auto !important;
    min-height: 100px !important;
    margin-bottom: 15px;
  }
  body #consultar-cep {
    margin-bottom: 10px;
  }
  body .codigos {
    display: block !important;
    width: 100% !important;
    margin: 10px 0 0 0 !important;
  }
}
