@import "vars.less";

body{
	background:url('../_imgs/layout/bg-internas.jpg') #F8EACD center top no-repeat;
	header{
		height:275px;
		.centro{
			.centralizar(1000px);
			height:30px;
			.fb-like{
				margin-top:20px;
				float:right;
			}
		}
	}
	#conteudo{
		.centralizar(@largura_conteudo);
		//min-height:275px;
		min-height:370px;
		position:relative;
		z-index:3;
		h1{
			margin:20px 0 0 -50px;
			text-indent: -9000px;
			height:65px;
			width:712px;
			background: url('../_imgs/layout/titulo-divella-viaggia.png') center top no-repeat;
		}
		nav{
			margin-top:30px;
			display:block;
			width:100%;
			ul{
			font-size:0;
			padding-left: 20px;
				li{
					width:170px;
					margin-right:15px;
					.inline;
					a{
						-webkit-box-shadow: 1px 1px 10px 0px #000000;
						box-shadow: 1px 1px 10px 0px #000000;
						background:#fff;
						text-align:center;
						display:block;
						height:30px;
						line-height:34px;
						color:@marrom;
						.minionM(16px, bold);
						.transition;
						&:active, &:visited{color:@marrom;}
						&:hover, &.ativo{
							background:@marrom;
							color:#fff;
						}
					}
				}
			}
		}
		.nav-link{
			-webkit-box-shadow: 1px 1px 10px 0px #000000;
			box-shadow: 1px 1px 10px 0px #000000;
			background:#fff;
			text-align:center;
			display:block;
			height:30px;
			line-height:30px;
			color:@marrom;
			.verdana(14px);
			.transition;
			&.centralizado{margin:0 auto;}
			&.m-top{margin-top:30px;}
			&.w133{width:133px;}
			&.espacado{margin:0 20px;}
			&.w310{width:310px;}
			&.inline{.inline}
			&:active, &:visited{color:@marrom;}
			&:hover, &.ativo{
				background:@marrom;
				color:#fff;
			}
		}
	}
	footer{
		margin-top:-370px;
		height:430px;
		background:url('../_imgs/layout/rodape.png') center bottom no-repeat;
		position:relative;
		z-index:1;
		.centro{
			.centralizar(@largura);
			position:relative;
			height:430px;
			a{
				width:140px;
				height:93px;
				position:absolute;
				top:254px;
				right:110px;
			}
		}
	}
}

@media only screen and (max-device-width: 480px){
	body{
    	-webkit-text-size-adjust: none;
    	.linha{
    		display:block;
    		margin:0 !important;
    		padding:0 !important;
    		width:500px !important;
    		text-indent: 0 !important;
    	}
    	label{
    		display:block;
    		width:100%;
    		margin:0 !important;
    		padding:0;
    		text-align:left;
    		text-indent:0 !important;
    		input[type="text"],input[type="email"]{
    			display:block !important;
    			max-width:400px !important;
    			width:400px !important;
    			margin:2px 0 8px 0 !important;
    		}
    		span{
    			float:none;
    		}
    	}
    	.label-like{
    		margin:2px 0 8px 0 !important;
    	}
    	.logradouro, .logradouro.aberto{
    		padding:10px !important;
			height:auto !important;
			min-height:100px !important;
			margin-bottom:15px;
		}
		#consultar-cep{
			margin-bottom:10px;
		}
		.codigos{
			display:block !important;
			width:100% !important;
			margin:10px 0 0 0 !important;
		}
  	}
}