.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.regulamento {
  padding: 12px;
  background: #fff;
  margin-top: 20px;
}
.regulamento p {
  margin-bottom: 15px;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: #5e3814;
  line-height: 120%;
}
#alert {
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 10px 0px #555;
  box-shadow: 1px 1px 10px 0px #555;
  color: #5e3814;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  line-height: 130%;
  width: 430px;
  opacity: 0;
  padding: 0;
  margin: 0;
  height: 0;
}
#alert.aberto {
  height: auto;
  opacity: 1;
  margin: 30px auto;
  padding: 10px 13px;
}
form {
  margin: 15px 0;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #000;
  line-height: 130%;
}
form .box {
  margin-bottom: 10px;
  padding: 10px 13px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 10px 0px #555;
  box-shadow: 1px 1px 10px 0px #555;
}
form .amarelo {
  background-color: #FFF100;
  color: #000;
  padding: 1px 4px;
}
form .menor {
  font-size: 10px;
}
form .mb {
  margin-bottom: 15px;
}
form h3 {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 3px 0 0 0;
}
form .resposta {
  width: 175px;
  margin: 3px auto 0 auto;
}
form .resposta label {
  cursor: pointer;
}
form input[type="checkbox"] {
  cursor: pointer;
}
form label {
  margin-bottom: 5px;
}
form label input[type="email"],
form label input[type="text"] {
  margin: 0;
  padding: 1px 5px;
  height: 14px;
  line-height: 14px;
  border: 1px #C9C9C9 solid;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #000;
}
form label input[type="email"].mt,
form label input[type="text"].mt {
  margin-top: 5px;
}
form label input[type="email"].w353,
form label input[type="text"].w353 {
  width: 358px;
}
form label input[type="email"].w293,
form label input[type="text"].w293 {
  width: 292px;
}
form label input[type="email"].w190,
form label input[type="text"].w190 {
  width: 310px;
}
form label input[type="email"].w164,
form label input[type="text"].w164 {
  width: 205px;
}
form label input[type="email"].w155,
form label input[type="text"].w155 {
  width: 145px;
}
form label input[type="email"].w150,
form label input[type="text"].w150 {
  width: 122px;
}
form label input[type="email"].w90,
form label input[type="text"].w90 {
  width: 80px;
}
form label input[type="email"].w88,
form label input[type="text"].w88 {
  width: 78px;
}
form label input[type="email"].w84,
form label input[type="text"].w84 {
  width: 84px;
}
form label input[type="email"].w70,
form label input[type="text"].w70 {
  width: 78px;
}
form label input[type="email"].w63,
form label input[type="text"].w63 {
  width: 53px;
}
form label input[type="email"].w50,
form label input[type="text"].w50 {
  width: 40px;
}
form label input[type="email"].w15,
form label input[type="text"].w15 {
  width: 23px;
  padding: 1px 2px;
}
form label input[type="email"] span,
form label input[type="text"] span {
  float: left;
}
form label input[type="email"]#input-nome,
form label input[type="text"]#input-nome {
  width: 410px;
  margin-left: 10px;
}
form label input[type="email"]#input-email,
form label input[type="text"]#input-email {
  width: 410px;
  margin-left: 10px;
}
form label input[type="email"]#input-telefone,
form label input[type="text"]#input-telefone {
  width: 125px;
  margin-left: 10px;
}
form label input[type="email"]#input-data_nascimento,
form label input[type="text"]#input-data_nascimento {
  width: 87px;
  margin-left: 10px;
}
form label input[type="email"]#input-cpf,
form label input[type="text"]#input-cpf {
  margin-left: 10px;
}
form label input[type="email"]#input-cep,
form label input[type="text"]#input-cep {
  width: 80px;
  margin-left: 10px;
}
form label input[type="email"]#input-endereco,
form label input[type="text"]#input-endereco {
  width: 410px;
  margin-left: 10px;
}
form label input[type="email"]#input-numero,
form label input[type="text"]#input-numero {
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
form label input[type="email"]#input-bairro,
form label input[type="text"]#input-bairro {
  width: 410px;
  margin-left: 10px;
}
form label input[type="email"]#input-cidade,
form label input[type="text"]#input-cidade {
  margin-left: 10px;
}
form label input[type="email"]#input-estado,
form label input[type="text"]#input-estado {
  width: 20px;
}
form label input[type="email"]#input-local_compra,
form label input[type="text"]#input-local_compra {
  float: none;
  width: 541px;
  margin-top: 4px;
}
form label.mt {
  margin-top: 5px;
}
form .linha {
  margin: 3px 0;
  text-align: right;
}
form .linha.lalign {
  text-align: left;
  text-indent: 46px;
}
form label {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
form label.ml15 {
  margin-left: 15px;
}
form label.ps {
  padding-left: 20px;
  cursor: pointer;
  display: block;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: normal;
  margin: 10px 0;
  color: #5e3814;
}
form label.ps a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  color: #5e3814;
  text-decoration: underline;
}
form label.ps a:active,
form label.ps a:visited {
  color: #5e3814;
}
form .logradouro {
  border: 1px #C9C9C9 solid;
  padding: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
form .logradouro.aberto {
  height: 92px;
  padding: 10px;
}
form .label-like {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 170px;
  text-align: left;
  text-indent: 0;
  margin-left: 30px;
}
form .label-like label {
  width: 40px;
  margin-left: 10px;
}
form .blocky {
  display: block;
  margin: 7px 0;
  min-height: 22px;
}
form .blocky span {
  float: left;
  font-size: 10px;
  line-height: 110%;
}
form .multi {
  font-size: 9px;
  line-height: 100%;
}
form .multi span {
  float: left;
  padding-top: 2px;
  margin-right: 5px;
  font-size: 7px;
}
form .contem-coluna {
  clear: both;
  font-size: 0;
  margin-bottom: 10px;
}
form .contem-coluna .caixa-amarela {
  background-color: #FFF100;
  padding: 7px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 154px;
  text-align: center;
  font-size: 11px !important;
}
form .contem-coluna .codigos {
  margin-left: 15px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 371px;
  padding: 0;
}
form .contem-coluna .codigos .linha {
  text-align: left;
  margin: 0;
}
form .contem-coluna .codigos .linha .amarelo {
  font-size: 12px;
}
form .contem-coluna .codigos .linha input[type="text"] {
  border: 1px #C9C9C9 solid;
  margin: 0;
  height: 14px;
  line-height: 14px;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #000;
  width: 11px;
  margin-left: 4px;
}
form .box-aviso {
  text-align: center;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 10px;
  font-weight: normal;
  margin-top: 5px;
  line-height: 130%;
}
form .box-aviso .vermelho {
  color: #F01E28;
}
form input[type="submit"] {
  float: right;
  -webkit-box-shadow: 1px 1px 10px 0px #000000;
  box-shadow: 1px 1px 10px 0px #000000;
  background: #fff;
  text-align: center;
  display: block;
  height: 30px;
  line-height: 30px;
  color: #5e3814;
  border: 0;
  cursor: pointer;
  width: 85px;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
form input[type="submit"]:active,
form input[type="submit"]:visited {
  color: #5e3814;
}
form input[type="submit"]:hover,
form input[type="submit"].ativo {
  background: #5e3814;
  color: #fff;
}
.botao-consultar {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  background: #CCC;
  color: #000;
  padding: 1px 6px;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.botao-consultar:active,
.botao-consultar:visited {
  color: #000;
}
.botao-consultar:hover {
  color: #fff;
}
.agradecimento {
  padding-top: 50px;
  min-height: 300px;
}
.agradecimento .concluido {
  -webkit-box-shadow: 1px 1px 10px 0px #000000;
  box-shadow: 1px 1px 10px 0px #000000;
  background: #fff;
  text-align: center;
  display: block;
  line-height: 160%;
  color: #5e3814;
  width: 320px;
  padding: 13px 0;
  margin: 40px auto 15px auto;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.agradecimento #aviao {
  -webkit-transition: left 8s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.5s ease-in;
  -moz-transition: left 8s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.5s ease-in;
  -o-transition: left 8s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.5s ease-in;
  transition: left 8s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.5s ease-in;
  position: absolute;
  z-index: -1;
  left: -310px;
  opacity: 0;
}
.agradecimento #aviao.final {
  left: 890px;
  opacity: 1;
}
.agradecimento #aviao.final-apagado {
  opacity: 0;
}
