@import 'vars.less';

.regulamento{
	padding:12px;
	background:#fff;
	margin-top:20px;
	p{
		margin-bottom:15px;
		.verdana(10px);
		color:@marrom;
		line-height:120%;
	}
}

#alert{
	background-color:#fff;
	-webkit-box-shadow: 1px 1px 10px 0px #555;
	box-shadow: 1px 1px 10px 0px #555;
	color:@marrom;
	.verdana(14px);
	text-align: center;
	line-height:130%;
	width:430px;
	opacity:0;
	padding:0;
	margin:0;
	height:0;
	&.aberto{
		height:auto;
		opacity:1;
		margin:30px auto;
		padding:10px 13px;
	}
}

form{
	margin:15px 0;
	.verdana(13px);
	color:#000;
	line-height:130%;
	.box{
		margin-bottom:10px;
		padding:10px 13px;
		background-color:#fff;
		-webkit-box-shadow: 1px 1px 10px 0px #555;
		box-shadow: 1px 1px 10px 0px #555;
	}
	.amarelo{
		background-color:#FFF100;
		color:#000;
		padding:1px 4px;
	}
	.menor{
		font-size:10px;
	}
	.mb{margin-bottom:15px;}
	h3{
		.verdana(16px, bold);
		text-align:center;
		margin:3px 0 0 0;
	}
	.resposta{
		width:175px;
		margin:3px auto 0 auto;
		label{ cursor:pointer; }
	}
	input[type="checkbox"]{cursor:pointer;}
	label{
		margin-bottom:5px;
		input[type="email"],
		input[type="text"]{
			margin:0;
			padding:1px 5px;
			height:14px;
			line-height:14px;
			border:1px #C9C9C9 solid;
			.verdana(14px);
			color:#000;
			&.mt{margin-top:5px;}
			&.w353{width:358px;}
			&.w293{width:292px;}
			&.w190{width:310px;}
			&.w164{width:205px;}
			&.w155{width:145px;}
			&.w150{width:122px;}
			&.w90{width:80px;}
			&.w88{width:78px;}
			&.w84{width:84px;}
			&.w70{width:78px;}
			&.w63{width:53px;}
			&.w50{width:40px;}
			&.w15{
				width:23px;
				padding:1px 2px;
			}
			span{
				float:left;
			}
			&#input-nome{width:410px; margin-left:10px;}
			&#input-email{width:410px; margin-left:10px;}
			&#input-telefone{width:125px; margin-left:10px;}
			&#input-data_nascimento{width:87px; margin-left:10px;}
			&#input-cpf{ margin-left:10px;}
			&#input-cep{ width:80px; margin-left:10px;}
			&#input-endereco{width:410px; margin-left:10px;}
			&#input-numero{width:40px; margin-left:10px; margin-right:10px;}
			&#input-bairro{width:410px; margin-left:10px;}
			&#input-cidade{margin-left:10px;}
			&#input-estado{width:20px;}
			&#input-local_compra{
				float:none;
				width:541px;
				margin-top:4px;
			}
		}
		&.mt{margin-top:5px;}
	}
	.linha{
		margin:3px 0;
		text-align:right;
		&.lalign{
			text-align:left;
			text-indent: 46px;
		}
	}
	label{
		&.ml15{margin-left:15px;}
		.inline;
		&.ps{
			padding-left:20px;
			cursor:pointer;
			display:block;
			.verdana(15px);
			margin:10px 0;
			color:@marrom;
			a{
				.inline;
				color:@marrom;
				text-decoration: underline;
				&:active,&:visited{color:@marrom;}
			}
		}
	}
	.logradouro{
		border:1px #C9C9C9 solid;
		padding:0;
		height:0;
		overflow:hidden;
		.transition;
		&.aberto{
			height:92px;
			padding:10px;
		}
	}
	.label-like{
		.inline;
		width:170px;
		text-align:left;
		text-indent: 0;
		margin-left:30px;
		label{width:40px;margin-left:10px;}
	}
	.blocky{
		display:block;
		margin:7px 0;
		min-height:22px;
		span{
			float:left;
			font-size:10px;
			line-height:110%;
		}
	}
	.multi{
		font-size:9px;
		line-height:100%;
		span{
			float:left;
			padding-top:2px;
			margin-right:5px;
			font-size:7px;
		}
	}
	.contem-coluna{
		clear:both;
		font-size: 0;
		margin-bottom:10px;
		.caixa-amarela{
			background-color:#FFF100;
			padding:7px;
			.inline;
			width:154px;
			text-align:center;
			font-size:11px !important;
		}
		.codigos{
			margin-left:15px;
			.inline;
			width:371px;
			padding:0;
			.linha{
				text-align:left;
				margin:0;
				.amarelo{font-size: 12px;}
				input[type="text"]{
					border:1px #C9C9C9 solid;
					margin:0;
					height:14px;
					line-height:14px;
					.verdana(14px);
					color:#000;
					width:11px;
					margin-left:4px;
				}
			}
		}
	}
	.box-aviso{
		text-align:center;
		.verdana(10px);
		margin-top:5px;
		line-height:130%;
		.vermelho{color:#F01E28;}
	}
	input[type="submit"]{
		float:right;
		-webkit-box-shadow: 1px 1px 10px 0px #000000;
		box-shadow: 1px 1px 10px 0px #000000;
		background:#fff;
		text-align:center;
		display:block;
		height:30px;
		line-height:30px;
		color:@marrom;
		border:0;
		cursor:pointer;
		width:85px;
		.verdana(14px);
		.transition;
		&:active, &:visited{color:@marrom;}
		&:hover, &.ativo{
			background:@marrom;
			color:#fff;
		}
	}
}

.botao-consultar{
	.inline;
	background:#CCC;
	color:#000;
	padding:1px 6px;
	.verdana(12px);
	.transition;
	&:active, &:visited{color:#000;}
	&:hover{color:#fff;}
}

.agradecimento{
	padding-top:50px;
	min-height:300px;
	.concluido{
		-webkit-box-shadow: 1px 1px 10px 0px #000000;
		box-shadow: 1px 1px 10px 0px #000000;
		background:#fff;
		text-align:center;
		display:block;
		line-height:160%;
		color:@marrom;
		width:320px;
		padding:13px 0;
		margin:40px auto 15px auto;
		.verdana(14px);
	}
	#aviao{
		-webkit-transition:left 8s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity .5s ease-in;
   		-moz-transition:left 8s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity .5s ease-in;
   		-o-transition:left 8s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity .5s ease-in;
   		transition:left 8s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity .5s ease-in;
		position:absolute;
		z-index:-1;
		left:-310px;
		opacity:0;
		&.final{
			left:890px;
			opacity:1;
		}
		&.final-apagado{
			opacity:0;
		}
		img{}
	}
}