@import "vars.less";

body{
	background:url('../_imgs/layout/bg-home.jpg') #F8EACD center top no-repeat;
	header{
		height:357px;
	}
	#conteudo{
		min-height:208px;
		nav{
			margin-top:45px;
		}
		h1{margin:20px 0 0 -50px;}
		h2{margin:-5px 0 0 -45px;}
	}
	footer{
		margin-top:-210px;
		background: url('../_imgs/layout/rodape-home.png') center bottom no-repeat;
		.centro{
			a{
				top:309px;
				right:109px;
			}
		}
	}
}