.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
body {
  background: url('../_imgs/layout/bg-home.jpg') #f8eacd center top no-repeat;
}
body header {
  height: 357px;
}
body #conteudo {
  min-height: 208px;
}
body #conteudo nav {
  margin-top: 45px;
}
body #conteudo h1 {
  margin: 20px 0 0 -50px;
}
body #conteudo h2 {
  margin: -5px 0 0 -45px;
}
body footer {
  margin-top: -210px;
  background: url('../_imgs/layout/rodape-home.png') center bottom no-repeat;
}
body footer .centro a {
  top: 309px;
  right: 109px;
}
