.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.lista-receitas {
  font-size: 0;
  margin: 35px 0;
  padding-left: 13px;
}
.lista-receitas a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 165px;
  font-family: 'Libre Baskerville', 'Arial', 'Verdana', 'Tahoma', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #5e3814;
  line-height: 120%;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 5px;
}
.lista-receitas a:nth-child(3n+2) {
  margin: 20px 30px 0 30px;
}
.lista-receitas a img {
  margin-bottom: 5px;
  max-width: 165px;
  -webkit-box-shadow: 1px 1px 10px 0px #000000;
  box-shadow: 1px 1px 10px 0px #000000;
}
.lista-receitas a:active,
.lista-receitas a:visited {
  color: #5e3814;
}
.lista-receitas a:hover {
  background-color: #5e3814;
  color: #fff;
}
.detalhe-receita {
  padding-top: 50px;
}
.detalhe-receita h3 {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #5e3814;
  margin-bottom: 15px;
  line-height: 100%;
}
.detalhe-receita .contem-colunas {
  font-size: 0;
  margin-bottom: 10px;
}
.detalhe-receita .contem-colunas .coluna {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 48%;
}
.detalhe-receita .contem-colunas .coluna img {
  max-width: 100%;
}
.detalhe-receita .contem-colunas .coluna p {
  line-height: 130%;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #5e3814;
}
.detalhe-receita h4 {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #5e3814;
}
.detalhe-receita p {
  line-height: 120%;
  color: #5e3814;
  margin-bottom: 7px;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.detalhe-receita ul {
  list-style: none;
}
.detalhe-receita ul li {
  width: 320px;
  line-height: 130%;
  margin: 4px 0;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #5e3814;
}
.detalhe-receita ul li:before {
  content: "» ";
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #5e3814;
}
.detalhe-receita .barra-share {
  padding: 45px 0 70px 0;
  font-size: 0;
  width: 140px;
  margin: 0 auto;
  background: url('../_imgs/layout/separador-arabesco.png') center bottom no-repeat;
}
.detalhe-receita .barra-share a {
  height: 36px;
  width: 36px;
  -webkit-box-shadow: 1px 1px 10px 0px #000000;
  box-shadow: 1px 1px 10px 0px #000000;
  text-indent: -9000px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.detalhe-receita .barra-share a.espacado {
  margin: 0 15px;
}
.detalhe-receita .barra-share a.link-voltar {
  background: url('../_imgs/layout/botao-voltar.png') center top no-repeat;
}
.detalhe-receita .barra-share a.link-voltar:hover {
  background-position: center -36px;
}
.detalhe-receita .barra-share a.link-imprimir {
  background: url('../_imgs/layout/botao-imprimir.png') center top no-repeat;
}
.detalhe-receita .barra-share a.link-imprimir:hover {
  background-position: center -36px;
}
.detalhe-receita .barra-share a.link-compartilhar {
  background: url('../_imgs/layout/botao-compartilhar.png') center top no-repeat;
}
.detalhe-receita .barra-share a.link-compartilhar:hover {
  background-position: center -36px;
}
@media screen {
  #logo-print {
    display: none;
  }
}
@media print {
  html body {
    background: #fff;
  }
  html body header {
    display: none;
  }
  html body #conteudo {
    width: 100%;
  }
  html body #conteudo h1,
  html body #conteudo h2,
  html body #conteudo nav,
  html body #conteudo .barra-share {
    display: none;
  }
  html body footer {
    display: none;
  }
  #logo-print {
    display: block;
    margin: 0 auto 20px auto;
  }
}
