@import 'vars.less';

.lista-receitas{
	font-size:0;
	margin:35px 0;
	padding-left: 13px;
	a{
		.inline;
		.transition;
		width:165px;
		.minionM(15px);
		color:@marrom;
		line-height:120%;
		text-align:center;
		margin-top:20px;
		padding-bottom:5px;
		&:nth-child(3n+2){margin:20px 30px 0 30px;}
		img{
			margin-bottom:5px;
			max-width:165px;
			-webkit-box-shadow: 1px 1px 10px 0px #000000;
			box-shadow: 1px 1px 10px 0px #000000;
		}
		&:active, &:visited{color:@marrom;}
		&:hover{
			background-color: @marrom;
			color:#fff;
		}
	}
}

.detalhe-receita{
	padding-top:50px;
	h3{
		.verdana(18px, bold);
		text-align:center;
		color:@marrom;
		margin-bottom:15px;
		line-height:100%;
	}
	.contem-colunas{
		font-size:0;
		margin-bottom:10px;
		.coluna{
			.inline;
			width:48%;
			img{
				max-width:100%;


			}
			p{
				line-height:130%;
				.verdana(14px);
				color:@marrom;
			}
		}
	}
	h4{
		.verdana(14px, bold);
		color:@marrom;
	}
	p{
		line-height:120%;
		color:@marrom;
		margin-bottom:7px;
		.verdana(14px);
	}
	ul{
		list-style: none;
		li{
			width:320px;
			line-height:130%;
			margin:4px 0;
			.verdana(12px);
			color:@marrom;
			&:before{
				content:"» ";
				.verdana(14px);
				//margin-right:5px;
				color:@marrom;
			}
		}
	}
	.barra-share{
		padding:45px 0 70px 0;
		font-size:0;
		width:140px;
		margin:0 auto;
		background:url('../_imgs/layout/separador-arabesco.png') center bottom no-repeat;
		a{
			height:36px;
			width:36px;
			-webkit-box-shadow: 1px 1px 10px 0px #000000;
			box-shadow: 1px 1px 10px 0px #000000;
			text-indent: -9000px;
			.inline;
			.transition;
			&.espacado{margin:0 15px;}
			&.link-voltar{background: url('../_imgs/layout/botao-voltar.png') center top no-repeat;&:hover{ background-position:center -36px; }}
			&.link-imprimir{background: url('../_imgs/layout/botao-imprimir.png') center top no-repeat;&:hover{ background-position:center -36px; }}
			&.link-compartilhar{background: url('../_imgs/layout/botao-compartilhar.png') center top no-repeat;&:hover{ background-position:center -36px; }}
		}
	}
}

@media screen{
	#logo-print{display:none;}
}

@media print{
	html{
		body{
			background:#fff;
			header{display:none;}
			#conteudo{
				h1, h2, nav, .barra-share{display:none;}
				width:100%;
			}
			footer{display:none;}
		}
	}
	#logo-print{
		display:block;
		margin:0 auto 20px auto;
	}
}