.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
#conteudo .regulamento {
  padding: 12px;
  background: #fff;
  margin-top: 20px;
}
#conteudo .regulamento p {
  margin-bottom: 15px;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: #5e3814;
  line-height: 120%;
}
