.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
body {
  background: url('../_imgs/layout/teaser-bg.jpg') center top no-repeat;
}
body .centro {
  width: 1200px;
  padding: 0 0;
  margin: 0 auto;
  position: relative;
}
body .centro img {
  display: block;
  margin: 0 auto;
}
body .centro #link-lapastina {
  position: absolute;
  top: 563px;
  right: 2px;
  width: 138px;
  height: 108px;
  display: block;
}
