@import 'vars.less';

body{
	background:url('../_imgs/layout/teaser-bg.jpg') center top no-repeat;
	.centro{
		.centralizar;
		position:relative;
		img{
			display: block;
			margin:0 auto;
		}
		#link-lapastina{
			position:absolute;
			top:563px;
			right:2px;
			width:138px;
			height:108px;
			display:block;
		}
	}
}