@font-face {
    font-family: 'MinionProMedium';
    src: url('minionpro-medium.eot');
    src: url('minionpro-medium.eot') format('embedded-opentype'),
         url('minionpro-medium.woff') format('woff'),
         url('minionpro-medium.ttf') format('truetype'),
         url('minionpro-medium.svg#MinionProMedium') format('svg');
}

@font-face {
    font-family: 'MinionProBold';
    src: url('minionpro-bold.eot');
    src: url('minionpro-bold.eot') format('embedded-opentype'),
         url('minionpro-bold.woff') format('woff'),
         url('minionpro-bold.ttf') format('truetype'),
         url('minionpro-bold.svg#MinionProBold') format('svg');
}
